<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .flex{
            display: flex;
            align-items: center;
        }
        .flex_grow_1{
            flex-grow:1;
        }
        body {
            background: #fceadb;
            padding:0;
            margin:0;
        }
    </style>
    <script src="js/jquery-1.11.3.js"></script>
    <script src="http://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
</head>
<body>
    <div id="login">
        <div style="padding:25px 7.5px 0;font-size:0;">
            <img src="img/bg_1.png" alt style="width:100%;" />
        </div>
        <div class="flex">
            <img src="img/dl_1.png" alt style="width:38px" />
            <div class="flex_grow_1 flex">
                <img src="img/dash.png" style="width:56px;height:1.2px;" />
                <div class="flex_grow_1" style="padding:0 4px;">
                    <img id="go_test_btn" src="img/btn.png" @click="go_test" alt style="width:100%;" />
                </div>
                <img src="img/dash.png" style="width:56px;height:1.2px;" />
            </div>
            <img src="img/dl_2.png" alt style="width:38px" />
        </div>
    </div>
    
    <script>
        $('#go_test_btn').click(function(){
            var obj = new WxLogin({
                id:"login", 
                appid: "wx8ce28a0960fe3a35", 
                scope: "snsapi_login", 
                redirect_uri: "http://www.sscby.com/mp/",
                state: "",
                style: "",
                href: ""
            });
            
        })
    </script>
</body>
</html>